@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.chatbot-container {
  position: relative;
  padding: 10px 20px;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden; 
  background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px);   
  border-radius: 20px;                  
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
  height: 800px; 
  cursor: default;
}


.chatbot-title {
  text-align: center;
  font-size: 35px; 
  color: #240404; 
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 8px; 
  cursor: default;
}

.level-selection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.level-box {
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 16px;
  color: #240404;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.level-box:hover {
  background: rgba(94, 15, 40, 0.5);
  color: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.level-box.selected {
  background: rgba(0, 0, 0, 0.815);
  color: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.chatbot-messages {
  flex: 1;
  min-height: 20vh;
  max-height: 90vh;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px);   /* Safari support */
  border-radius: 20px;                  
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
}


.chatbot-message {
  padding: 3px 20px; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-size: 16px; 
  line-height: 1.8; 
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  border: 1px solid rgb(255, 255, 255, 0.0);
  border-radius: 20px;  
  -webkit-backdrop-filter: blur(10px);  
}

.chatbot-message-user {
  background: rgba(94, 15, 40, 0.5); 
  backdrop-filter: blur(10px);          
  align-self: flex-end;
  color: #ffffff; 
}


.chatbot-message-assistant {
  align-self: flex-start;
  color: #240404; 
  align-items: flex-start;
  gap: 8px;
  background: rgba(255, 255, 255, 0.5);  
  backdrop-filter: blur(10px);                          
}

.chatbot-loading {
  text-align: center;
  color: #240404; 
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; /* Sans-serif font */
  font-size: 16px; 
}


.chatbot-form {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.chatbot-input {
  flex: 1; 
  font-size: 16px; 
  padding: 10px 20px; 
  outline: none; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px);   
  border-radius: 20px;                   
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
}

.chatbot-input:focus {
  outline: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.chatbot-submit-button {
  font-size: 16px;
  padding: 10px 20px; 
  background: rgba(94, 15, 40, 0.5);
  color: #ffffff; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.chatbot-submit-button:disabled {
  background: rgba(255, 255, 255, 0.1);
  cursor: not-allowed; 
  color: #240404;
}

.chatbot-submit-button:hover:not(:disabled) {
  background: rgba(0, 0, 0, 0.815);
  color: #ffffff;
}

.chatbot-buttons {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  gap: 15px; 
}

.chatbot-reset-button,
.chatbot-logout-button {
  width: 150px; 
  padding: 10px 20px; 
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  transition: all 0.3s ease;
}

.chatbot-reset-button {
  background: rgba(255, 255, 255, 0.1);
  color: #240404;
  border: none;
}

.chatbot-reset-button:hover {
  background: rgba(187, 0, 0, 0.822);
  color: #ffffff;
}

.chatbot-logout-button {
  background: rgba(255, 255, 255, 0.1);
  color: #240404;
  border: none;
}

.chatbot-logout-button:hover {
  background: rgba(0, 0, 0, 0.815);
  color: #ffffff;
}


.chatbot-messages::-webkit-scrollbar {
  width: 10px;
  background: rgba(243, 243, 243, 0.0);
  border-radius: 15px;
}
.chatbot-messages::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
  margin-top: 10px;    
  margin-bottom: 10px; 
}
.chatbot-messages::-webkit-scrollbar-thumb {
  background: rgba(243, 243, 243, 0.3);
  border-radius: 15px;
}

.chatbot-messages::-webkit-scrollbar-thumb:hover {
  background: rgba(243, 243, 243, 0.7);
}