@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

.dictionary-outer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 20px;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px);   
  border-radius: 20px;                   
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  height: 380px; 
}

.dictionary-card {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

.dictionary-title {
  text-align: center;
  font-size: 20px; 
  color: #240404; 
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: 8px; 
  margin-bottom: 5px;
  padding: 10px 0; 
  
}

.languageSelection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.language-button {
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 16px;
  color: #240404;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.language-button.selected{
  background: rgba(0, 0, 0, 0.815);
  color: #ffffff;
}

.language-button:hover {
  background: rgba(94, 15, 40, 0.5);
  color: #ffffff;
}

.dictionary-form-container {
  width: 100%;
}

.dictionary-form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.dictionary-input {
  flex: 1; 
  font-size: 16px; 
  padding: 10px 20px; 
  outline: none; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px);   
  border-radius: 20px;                   
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
}

.dictionary-input:focus {
  outline: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}
.dictionary-submit{
  font-size: 16px; 
  padding: 10px 20px; 
  background: rgba(94, 15, 40, 0.5);
  color: #ffffff; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.dictionary-submit:disabled {
  background: rgba(255, 255, 255, 0.1);
  cursor: not-allowed; 
  color: #240404;
}

.dictionary-submit:hover:not(:disabled) {
  background: rgba(0, 0, 0, 0.815);
  color: #ffffff;
}

.dictionary-reset {
  width: 150px; 
  padding: 10px 20px; 
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
  color: #240404;
  border: none;
}


.dictionary-reset:hover {
  background: rgba(187, 0, 0, 0.822);
  color: #ffffff;
}

.dictionary-result-container {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  max-height: 150px;
}

.dictionary-result {
  align-self: flex-start;
  color: #000000; 
  display: flex;
  align-items: flex-start;
  gap: 8px;
  background: rgba(255, 255, 255, 0.5);  
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px);   
  border-radius: 20px;                  
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  
  padding: 3px 20px; 
  font-size: 16px; 
  line-height: 1.8; 
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  border: 1px solid #ede8e8; 
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
}

.dictionary-result::-webkit-scrollbar {
  width: 10px;
  background: rgba(243, 243, 243, 0.0);
  border-radius: 15px;
}
.dictionary-result::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
  margin-top: 10px;    
  margin-bottom: 10px; 
}
.dictionary-result::-webkit-scrollbar-thumb {
  background: rgba(194, 152, 152, 0.3);
  border-radius: 15px;
}

.dictionary-result::-webkit-scrollbar-thumb:hover {
  background: rgba(243, 243, 243, 0.7);
}